<section class="wrapForm">
  <nav class="nav-wrap">
    <div class="nav">
      <button (click)="searchByGenre(genre)" *ngFor="let genre of genres" [ngClass]="{'selected':(selectedGenre === genre)}"
              mat-button>{{genre}}</button>
      <button [matMenuTriggerFor]="filter" color="accent" mat-flat-button>
        Filter by
      </button>
      <mat-menu #filter="matMenu">
        <button [mat-menu-trigger-for]="statusMenu" mat-menu-item>Status</button>
        <button (click)="sortByPopularity()" mat-menu-item>Popularity</button>
      </mat-menu>

      <mat-menu #statusMenu="matMenu">
        <button (click)="searchByStatus(state)" *ngFor="let state of status" mat-menu-item>{{state}}</button>
      </mat-menu>

    </div>
  </nav>
  <div class="story-wrap">
    <div class="story-list">
      <app-genre-cover [stories]="stories" [title]="true"></app-genre-cover>
    </div>
  </div>
</section>
