<section class="wrapForm">
  <nav class="nav-wrap">
    <div class="nav">
      <button *ngFor="let genre of genres" mat-button (click)="searchByGenre(genre)" [ngClass] ="{'selected':(selectedGenre === genre)}">{{genre}}</button>
      <button mat-flat-button color="accent" [matMenuTriggerFor]="filter">
        Filter by
      </button>
      <mat-menu #filter="matMenu">
        <button mat-menu-item [mat-menu-trigger-for]="statusMenu">Status</button>
        <button mat-menu-item (click)="sortByPopularity()">Popularity</button>
      </mat-menu>

      <mat-menu #statusMenu = "matMenu">
        <button mat-menu-item *ngFor="let state of status" (click)="searchByStatus(state)">{{state}}</button>
      </mat-menu>

    </div>
  </nav>
  <div class="story-wrap">
    <div class="story-list">
      <app-genre-cover [stories] = "stories" [title]="true"></app-genre-cover>
    </div>
  </div>
</section>
