<section class = "auth">

  <h1>Welcome back!</h1>
  <h2>It's good to see you</h2>

  <form >
    <div class="control">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input  matInput placeholder="email@email.com" required>
      </mat-form-field>
    </div>

    <div class="control">
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input  matInput placeholder="password" required>
      </mat-form-field>
    </div>

    <div class="actions">
      <button  class="toogle" type="button">
        Log in
      </button>
    </div>
    <div class="formLink">
      <a>Not register? Do it here</a>
    </div>
  </form>
</section>
