<mat-list *ngFor="let episode of episodes" class="stories">
  <mat-list-item (click)="open(episode.id!)" class="hover">
    <div class="episode-item">
      <div class="align-start">
        <div class="img">
          <img alt="cover" src={{cover}}>
        </div>
        <p class="normal">{{episode.title}}</p>
      </div>
      <div class="align-end">
        <p class="subtitle">{{episode.date}}</p>
        <p class="number_episode">{{episode.numberEpisode}}</p>
      </div>
    </div>
    <div *ngIf="activeUser" class="tools">
      <mat-icon (click)="update($event, episode.id!)">edit</mat-icon>
      <mat-icon (click)="delete($event, episode.id!)">delete</mat-icon>
    </div>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-list>
