<form [formGroup]="userForm" class="form-wrap">
  <h3 class="title">Edit</h3>
  <p class="title">Username</p>
  <mat-form-field appearance="outline" class="input">
    <mat-label>Username</mat-label>
    <input formControlName="nickname" matInput placeholder="Ex. Pizza">
  </mat-form-field>
  <p class="title">Description</p>
  <mat-form-field appearance="outline" class="input">
    <mat-label>Description</mat-label>
    <textarea formControlName="description" matInput placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field>
  <div class="actions">
    <div class="actions-btn">
      <button cdkFocusInitial mat-dialog-close mat-flat-button>Cancel</button>
      <button (click)="submit()" [disabled]="submitDisabled" color="accent" mat-flat-button>Edit</button>
    </div>
  </div>
</form>
