<div class="stories" *ngFor="let story of stories">
  <mat-divider></mat-divider>
  <div class="list">
    <div class="img">
      <img src="../../../../assets/img/cover-story.png" alt="cover">
    </div>
    <div class="info">
        <p class="subtitle">{{story.genre1}}</p>
        <p class ='normal'>{{story.title}}</p>
        <p class="small">{{story.username}}</p>
    </div>
    <div class="actions">
      <div class="group">
        <p class="subtitle">Editar</p>
        <p class="subtitle">New Chapter</p>
        <p class="subtitle">Delete</p>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
</div>


