<div *ngFor="let story of stories; let last = last;" class="stories">
  <mat-divider></mat-divider>
  <div class="list">
    <div class="img">
      <img alt="cover" src="{{story.cover ? story.cover : '../../../../assets/img/cover-story.png '}}">
    </div>
    <div class="info">
      <p class="subtitle">{{story.genre1}}</p>
      <p class='normal'>{{story.title}}</p>
      <p class="small">{{story.username}}</p>
    </div>
    <div class="actions">
      <div class="group">
        <button (click)="open(story.id!)" class="subtitle" id="update" mat-button type="button">Open</button>
        <button (click)="redirect(story.id!)" *ngIf="isActiveUser(story)" class="subtitle" id="add" mat-button
                type="button">New Chapter
        </button>
        <button (click)="delete(story.id!)" *ngIf="isActiveUser(story)" class="subtitle" id="delete" mat-button
                type="button">Delete
        </button>
      </div>
    </div>
  </div>
  <mat-divider *ngIf="last"></mat-divider>
</div>


