.presentation {
  width: 45rem;
}

.title {
  margin-bottom: 3rem;
}

.cdk-overlay-backdrop {
  margin-bottom: 2rem;
}

.presentation h1, .presentation .content {
  font-family: 'Quantico', sans-serif;
  text-align: justify;
  margin-left: 2rem;

}

.presentation h1 {
  font-size: 2.5rem;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.content {
  line-height: 2;
  margin-bottom: 5rem;
}

.content > p{
  font-family: Quicksand,sans-serif;
  font-weight: bold;
  font-size: 16px;
}

.containers {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.info {
  width: 8rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1rem;
  padding: 1rem;
}

.info p {
  text-align: center;
  font-family: Quantico, serif;
  font-weight: 700;
  font-size: 0.75rem;
  padding: 0.5rem;
}

.info p:hover{
  color: #D44171;
}

.blue {
  background: #0F89DB;
  border: 2px solid #0F89DB;
}

.yellow {
  background: #FFC100;
  border: 2px solid #FFC100;
}

.purple {
  background: #D675EF;
  border: 2px solid #B462C9;
}

.green {
  background: #05E3A4;
  border: 2px solid #03C18B;
}

.circle {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  -webkit-tap-highlight-color: transparent;
  transition: transform .2s; /* Animation */
}

.circle:hover{
  transform: scale(0.8);
}
