<div class="presentation">
  <div class="title">
    <h1>Creating stories</h1>
    <h1>Creating a new world</h1>
  </div>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur ea eos ipsa maxime minima quae, quasi
      soluta
      temporibus totam voluptatum. Dolores earum odit placeat quae, reiciendis sunt veritatis. Praesentium, quia?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur ea eos ipsa maxime minima quae, quasi</p>
  </div>
  <div class="containers">
    <div class="info">
      <div class="circle blue"></div>
      <p>create a new community</p>
    </div>
    <div class="info ">
      <div class="circle yellow"></div>
      <p>share your own stories</p>
    </div>
    <div class="info">
      <div class="circle green"></div>
      <p>private groups</p>
    </div>
    <div class="info">
      <div class="circle purple"></div>
      <p> create lists of stories</p>
    </div>
  </div>
</div>
