<div class="presentation">
  <div class="title">
    <h1>Creating stories</h1>
    <h1>Creating a new world</h1>
  </div>
  <div class="content">
    <p>Welcome! Readit is a web app to read and create new stories.
      Enjoy your hobbies with your friends, be encouraged to participate in the communities, and meet new people.
    </p>
    <p>
      We will regularly be updating new features to improve the application, so what are you waiting for? Join up!
    </p>
  </div>
  <div class="containers">
    <div class="info">
      <div class="circle blue"></div>
      <p>create a new community</p>
    </div>
    <div class="info ">
      <div class="circle yellow"></div>
      <p>share your own stories</p>
    </div>
    <div class="info">
      <div class="circle green"></div>
      <p>private groups</p>
    </div>
    <div class="info">
      <div class="circle purple"></div>
      <p> create lists of stories</p>
    </div>
  </div>
</div>
