<div class = "wrap">
  <div class="story">
    <div class="header" [ngStyle]="{'background-color': color}">
      <div class="genres header-info">
        <p>{{genre1}}</p>
        <p>|</p>
        <p>{{genre2}}</p>
      </div>
        <div class="favorite">
          <mat-icon *ngIf="!isFavorite" (click)="setFavorite()">favorite_border</mat-icon>
          <mat-icon *ngIf="isFavorite" (click)="setFavorite()">favorite</mat-icon>
          <div class="likes">
            <p>{{likes}}</p>
          </div>
        </div>
    </div>
    <div class="episodes">
      <app-episode-cover [cover] = cover></app-episode-cover>
    </div>
  </div>
  <div class="story-info">
    <div class="status">
      <mat-icon id="edit" *ngIf="activeUser" (click)="update()">edit</mat-icon>
      <p>Status: {{status}}</p>
    </div>
    <div class="info">
      <p class="title">{{title}}</p>
      <div class="cover" >
        <img [src]="cover" alt="cover">
      </div>
      <p class="author">{{author}}</p>
      <div class="description">
        <p>{{description}}</p>
      </div>
    </div>
  </div>
</div>



