<div class="wrap">
  <div class="story">
    <div [ngStyle]="{'background-color': color}" class="header">
      <div class="genres header-info">
        <p>{{genre1}}</p>
        <p>|</p>
        <p>{{genre2}}</p>
      </div>
      <div class="favorite">
        <mat-icon (click)="setFavorite()" *ngIf="!isFavorite">favorite_border</mat-icon>
        <mat-icon (click)="setFavorite()" *ngIf="isFavorite">favorite</mat-icon>
        <div class="likes">
          <p>{{likes}}</p>
        </div>
      </div>
    </div>
    <div class="episodes">
      <app-episode-cover [cover]=cover></app-episode-cover>
    </div>
  </div>
  <div class="story-info">
    <div class="status">
      <mat-icon (click)="redirect('stories/' + id + '/episodes/new')" *ngIf="activeUser">add</mat-icon>
      <mat-icon (click)="update()" *ngIf="activeUser" id="edit">edit</mat-icon>
      <p>Status: {{status}}</p>
    </div>
    <div class="info">
      <p class="title">{{title}}</p>
      <div class="cover">
        <img [src]="cover" alt="cover">
      </div>
      <p (click)="redirect('/users/' + userId)" class="author">{{author}}</p>
      <div class="description">
        <p>{{description}}</p>
      </div>
    </div>
  </div>
</div>



