<section class="auth">
  <h1>Sign up here</h1>
  <form [formGroup]="registerForm">
    <div class="control">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input formControlName="username" matInput placeholder="username" required type="text">
      </mat-form-field>
    </div>

    <div class="control">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput placeholder="email@email.com" required type="email">
      </mat-form-field>
    </div>

    <div class="control">
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input formControlName="password" matInput placeholder="password" required type="password">
      </mat-form-field>
    </div>

    <div class="control">
      <mat-form-field appearance="outline">
        <mat-label>Repeat password</mat-label>
        <input formControlName="confirmPassword" matInput placeholder="password" required type="password">
      </mat-form-field>
    </div>

    <div class="actions">
      <button (click)="submit()" [disabled]="submitDisabled" type="button">
        Sign up
      </button>
    </div>
    <div class="formLink">
      <a (click)="newMessage('login')">Have already an account? Log here</a>
    </div>
  </form>

</section>
