<app-story-header></app-story-header>
<section class="wrapForm">
  <form [formGroup]="formNewStory">
    <div class="left">
      <div class="vertical cover" >
        <p class="title">Story cover image</p>
        <button mat-raised-button color="accent" (click)="uploadFile.click()" >Choose File</button>
        <input formControlName="cover" #uploadFile (change)="upload($event)" type='file' style="display:none" accept = "image/jpeg, image/png"/>
        <p class="subtitle">{{selectedFile}}</p>
      </div>
      <div class="vertical">
        <p class="title">Color</p>
        <mat-form-field appearance="outline">
          <mat-label>Color</mat-label>
          <input formControlName="color" matInput type="color"/>
        </mat-form-field>
      </div>
    </div>
    <div class="right">
      <p class="title">Title</p>
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input formControlName="title" matInput type="text">
      </mat-form-field>
      <p class="title">Description</p>
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea formControlName="description" matInput></textarea>
      </mat-form-field>
      <div class="horizontal">
        <div class="vertical first">
          <p class="title">Genre 1</p>
          <mat-form-field appearance="outline">
            <mat-label>Genre 1</mat-label>
            <mat-select [formControl]="genre1Control">
              <mat-option value="romance">Romance</mat-option>
              <mat-option value="sol">Slice of life</mat-option>
              <mat-option value="drama">Drama</mat-option>
              <mat-option value="horror">Horror</mat-option>
              <mat-option value="fantasy">Fantasy</mat-option>
              <mat-option value="comedy">Comedy</mat-option>
              <mat-option value="historical">Historical</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="vertical">
          <p class="title">Genre 2</p>
          <mat-form-field appearance="outline">
            <mat-label>Genre 2</mat-label>
            <mat-select [formControl]="genre2Control">
              <mat-option value="romance">Romance</mat-option>
              <mat-option value="sol">Slice of life</mat-option>
              <mat-option value="drama">Drama</mat-option>
              <mat-option value="horror">Horror</mat-option>
              <mat-option value="fantasy">Fantasy</mat-option>
              <mat-option value="comedy">Comedy</mat-option>
              <mat-option value="historical">Historical</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="horizontal">
        <div class="vertical first">
          <p class="title">Privacy</p>
          <mat-form-field appearance="outline">
            <mat-label>Privacy</mat-label>
            <mat-select [formControl]="privacyControl">
              <mat-option value="public">Public</mat-option>
              <mat-option value="private">Private</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="vertical">
          <p class="title">Status</p>
          <mat-form-field appearance="outline">
            <mat-label>Status</mat-label>
            <mat-select [formControl]="statusControl">
              <mat-option value="progress">In Progress</mat-option>
              <mat-option value="complete">Complete</mat-option>
              <mat-option value="dropped">Dropped</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="actions">
        <button mat-flat-button color="accent" (click)="submit()" [disabled] = "submitDisabled" [ngClass]="submitDisabled? 'disabled' : '' ">Create</button>
      </div>
    </div>

  </form>

</section>
