<app-story-header></app-story-header>
<section class="wrap">
  <form  [formGroup]="formNewEpisode">
    <div class="column">
      <div class="input-title">
        <p class="title">Title</p>
        <mat-form-field appearance="outline">
          <mat-label>Title</mat-label>
          <input id = "title" formControlName="title" matInput type="text">
        </mat-form-field>
      </div>
      <p class="title" style="margin-top: 1rem;">Upload Chapter</p>
      <div class="container" appDnd (fileDropped)="onFileDropped($event)">
        <input type="file" #fileDropRef id="fileDropRef"  (change)="fileBrowseHandler($event)" />
        <p>Drag and drop file here</p>
        <p>or</p>
        <label for="fileDropRef">Browse for file</label>
        <div *ngIf="this.file" class="files">
          <div class="single-file" >
            <img src="assets/img/book.svg" width="45px" alt="file">
            <div class="info">
              <h4 class="name">
                {{file?.name }}
              </h4>
              <p class="size">
                {{ formatBytes(file?.size) }}
              </p>
              <app-progress-bar [progress]="file?.progress"></app-progress-bar>
            </div>
            <img src="assets/img/close.svg" class="delete" width="20px" alt="file" (click)="deleteFile()">
          </div>
        </div>
      </div>

      <div class="actions">
        <button *ngIf="create" mat-flat-button color="accent" [disabled] = "submitDisabled" [ngClass]="submitDisabled? 'disabled' : '' " (click)="submit()">POST EPISODE</button>
        <button *ngIf="!create" mat-flat-button color="accent" [disabled] = "submitDisabled" [ngClass]="submitDisabled? 'disabled' : '' " (click)="edit()">EDIT EPISODE</button>
      </div>
    </div>
  </form>
</section>
