.wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: #F4F4F4;
  align-items: center;
  align-content: center;
}

form {
  display: flex;
  width: 70%;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-evenly;
  margin-top: 2rem;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: #FFFFFF !important;
  border-radius: 5px;
  border: 1px solid #989696;
}

.column {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.title {
  font-weight: bold;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  letter-spacing: 1px;
  margin-left: 5px;
}

.input-title {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.mat-form-field {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 16rem;
  margin-top: 1rem;
  border: 1px solid #989696;
  background-color: white;
  justify-content: center;
}

.container input {
  opacity: 0;
  position: absolute;
}

.container > p {
  color: #858383;
  font-size: 12px;
  font-weight: bold;
}

.container label {
  display: flex;
  justify-content: center;
  cursor: pointer;
  font: inherit;
  width: 25%;
  padding: 0.5rem 0.5rem;
  text-transform: uppercase;
  font-size: 12px;
  background-color: #D44171;
  border: 1px solid #D44171;
  border-radius: 5px;
  color: white;
}

.mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent {
  background-color: #14AF23;
}

.actions {
  margin-top: 2rem;
  display: flex;
  align-items: start;
}

.actions button {
  cursor: pointer;
  font: inherit;
  letter-spacing: 1px;
  border-radius: 15px;
  padding: 0.8rem 3rem;
  margin-top: 1rem;
}

.disabled {
  background-color: rgba(0, 0, 0, .12) !important;
}

.fileover {
  animation: shake 1s;
  animation-iteration-count: infinite;
}

.files {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.single-file {
  display: flex;
  width: 90%;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
  border: dashed 1px #979797;
  margin-bottom: 1rem;

}

.single-file img.delete {
  margin-left: 0.5rem;
  cursor: pointer;
  align-self: flex-end;
}

.name {
  font-size: 14px;
  font-weight: 500;
  color: #353f4a;
  margin: 0;
}

.size {
  font-size: 12px;
  font-weight: 500;
  color: #a4a4a4;
  margin: 0 0 0.25rem;
}

.info {
  width: 100%
}

.subtitle{
  font-weight: bold;
  color:#989696;
  font-family: Roboto, sans-serif;
  margin-left: 1rem;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
