<div class="wrap center">
  <div class="header center">
    <img alt="logo" src="assets/img/logo.png"/>
  </div>

  <section class="newness center column">
    <h3 class="title">Newness</h3>
    <div class="newness-stories">
      <app-genre-cover [stories]="newStories" [title]="true"></app-genre-cover>
    </div>
  </section>

  <section class="genres center column">
    <h3 class="title">Genres</h3>
    <div class="story-list space-between">
      <div (click)="search('HORROR')" class="cover pink column center">
        <div class="story-title space-between">
          <p class="title">Horror</p>
          <mat-icon>keyboard_arrow_right</mat-icon>
        </div>
        <div class="description">
          <p>Don't read while sleeping...</p>
        </div>
      </div>
      <app-genre-cover [stories]="horrorStories" [title]="false" class="stories"></app-genre-cover>
    </div>
    <div class="story-list space-between">
      <div (click)="search('FANTASY')" class="cover blue column center">
        <div class="story-title space-between">
          <p class="title">Fantasy</p>
          <mat-icon>keyboard_arrow_right</mat-icon>
        </div>
        <div class="description">
          <p>Ready to find fairies?</p>
        </div>
      </div>
      <app-genre-cover [stories]="fantasyStories" [title]="false" class="stories"></app-genre-cover>
    </div>
  </section>

  <section class="popularity space-between">
    <div class="popular-genre">
      <div class="popularity-title">
        <h3 class="title">More popular by genre</h3>
        <mat-icon>keyboard_arrow_right</mat-icon>
      </div>
      <div class="filter">
        <button [matMenuTriggerFor]="genresMenu" mat-flat-button>
          {{selectedGenre}}
        </button>
        <mat-menu #genresMenu="matMenu">
          <button (click)="selectGenre(genre)" *ngFor="let genre of genres" mat-menu-item>{{genre}}</button>
        </mat-menu>
      </div>
      <div class="popularity-stories">
        <app-story-cover [storiesInput]="popularGenreStories"></app-story-cover>
      </div>
    </div>
    <div class="popular-liked">
      <div class="popularity-title">
        <h3 class="title">More liked</h3>
      </div>
      <div class="popularity-stories" style="margin-top: 2.1rem;">
        <app-story-cover [storiesInput]="mostLikedStories"></app-story-cover>
      </div>
    </div>
  </section>
  <div class="footer-wrap">
    <div class="footer space-between">
      <div class="content">
        <p class="footer-title">Description</p>
        <p class="subtitle">Universidad Politecnica de Madrid (UPM)</p>
        <p class="subtitle">Máster en Ingeniería Web</p>
        <p class="subtitle">Proyecto de Fin de Máster</p>
        <p class="subtitle">06/2022</p>
      </div>
      <div class="content">
        <p class="footer-title">CONTACT</p>
        <p class="subtitle margin" #name>Isabel Diaz Márquez</p>
        <div class="icon">
          <a href = "https://github.com/isadiamar">  <i class="fa fa-github"></i></a>
          <p>Github</p>
        </div>
        <div class = "icon">
          <a href = "https://www.linkedin.com/in/isabel-d-m/"> <i class="fa fa-linkedin"></i></a>
          <p >Linkedin</p>
        </div>
      </div>
    </div>
  </div>
</div>
