<div class="wrapper">
  <mat-card class="card">
    <form [formGroup]="commentForm">
      <mat-form-field appearance="outline">
        <mat-label>Leave a comment</mat-label>
        <textarea formControlName="description" matInput placeholder="Ex. It makes me feel..."></textarea>
      </mat-form-field>
    </form>
    <mat-card-actions class="actions">
      <button (click)="submit()" [disabled]="submitDisabled" color="accent" mat-stroked-button>Send</button>
    </mat-card-actions>
  </mat-card>
</div>

