<div class="wrap" id="outerContainer">
  <div class="header">
    <div class="header-info">
      <p (click)="backToStory()" class="story-info">{{story_name}} > {{episode_name}}</p>
      <div class="navigation-buttons center">
        <button (click)="previousEpisode()" [disabled]="this.numberEpisode == 1">
          <mat-icon>navigate_before</mat-icon>
        </button>
        <p>{{numberEpisode}}</p>
        <button (click)="nextEpisode()" [disabled]="this.numberEpisode == this.size">
          <mat-icon>navigate_next</mat-icon>
        </button>
      </div>
      <div class="comments center">
        <mat-icon (click)="sidenav.toggle()"> chat_bubble</mat-icon>
      </div>
    </div>
  </div>

  <mat-sidenav-container class="sidenav-container">

    <mat-sidenav #sidenav [mode]="'over'" class="sidenav">
      <app-comment-form></app-comment-form>
      <app-comment></app-comment>
    </mat-sidenav>

    <mat-sidenav-content class="sidenav-content">
      <div class="pdf-wrapper">
        <pdf-viewer
          (after-load-complete)="initLoadCompleted($event)"
          [autoresize]="true"
          [external-link-target]="'blank'"
          [fit-to-page]="true"
          [original-size]="false"
          [rotation]="0"
          [src]="pdfSrc"
          [stick-to-page]="false"
          [zoom-scale]="'page-width'"
          [zoom]="1"
          style=" height: 100%; width: 100%;"
        ></pdf-viewer>
      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>

</div>
