<section class="auth">
  <h1>Sign up here</h1>
  <form [formGroup]="registerForm">
    <div class="control">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input formControlName="username" matInput ngModel="user" placeholder="username" required type="text">
      </mat-form-field>
    </div>

    <div class="control">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput ngModel="user@user.com" placeholder="email@email.com" required
               type="email">
      </mat-form-field>
    </div>

    <div class="control">
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input formControlName="password" matInput ngModel="user!Password1" placeholder="password" required
               type="password">
      </mat-form-field>
    </div>
    <p *ngIf="errorMsg" class="sub">The password must be at least eight characters including one uppercase letter, one
      lowercase letter, and one number or special character.</p>

    <div class="control">
      <mat-form-field appearance="outline">
        <mat-label>Repeat password</mat-label>
        <input formControlName="confirmPassword" matInput ngModel="user!Password1" placeholder="password" required
               type="password">
      </mat-form-field>
    </div>

    <div class="actions">
      <button (click)="submit()" [disabled]="submitDisabled" color="accent" mat-flat-button type="button">
        Sign up
      </button>
    </div>
    <div class="formLink">
      <a (click)="newMessage('login')">Have already an account? Log here</a>
    </div>
  </form>

</section>
