<section class="auth">

  <h1>Welcome back!</h1>
  <h2>It's good to see you</h2>

  <form [formGroup]="loginForm">
    <div class="control">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput placeholder="email@email.com" required type="email">
      </mat-form-field>
    </div>

    <div class="control">
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input formControlName="password" matInput placeholder="password" required type="password">
      </mat-form-field>
    </div>

    <div class="actions">
      <button mat-flat-button color="accent" (click)="submit()" [disabled]="submitDisabled">Log in</button>
    </div>

    <div class="formLink">
      <a (click)="newMessage('signup')">Not register? Do it here</a>
    </div>
  </form>
</section>
