<section class="wrap">
  <app-user-header class="header"></app-user-header>
  <div class="profile-wrap">
    <div class="profile">
      <app-description></app-description>
      <div class="stories">
        <app-user-favourites (isSelected)="isSelected($event)" *ngIf="selected == 'favourites' || selected == 'account'"
                             [isFavourite]="selected"></app-user-favourites>
        <app-user-stories (isSelected)="isSelected($event)" *ngIf="selected == 'stories' || selected == 'account'"
                          [isUserStory]="selected"></app-user-stories>
      </div>
    </div>
  </div>
</section>
