.description {
  word-break: break-word;
  text-align: justify;
  height: 60%;
  width: 15rem;
  margin-top: 1rem;
  margin-right: 4rem;
}

.title {
  font-family: Mako, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.mat-card > :first-child, .mat-card-content > :first-child {
  margin-top: 0.5rem;
}
