.header{
  width: 100%;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #989696;
  padding: 1px;
}

.mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent{
  background-color: #3BBC48;
  box-shadow: none;
}
.mat-mini-fab{
  margin-top: 2px;
  height: 35px;
  width: 35px;
}

.wrap{
  width: 40%;
  display: flex;
}

.btn{
  display: flex;
  width: 100%;
  align-content: space-evenly;
}

button{
  font-size: 16px;
}

.btn p{
  height: 100%;
  align-items: center;
  margin-top: 0.5rem;
  margin-left: 1rem;
  font-weight: bold;
  font-family: Roboto, serif;
}
