<nav class="menu">
  <div class="wrappedGeneral">
    <img alt="logo" class="logo" src="../../../assets/img/logo.png">
    <div class="general">
      <button (click)="redirect('/read')" mat-button>READ</button>
      <button (click)="redirect('/genres')" mat-button>GENRES</button>
      <button mat-button>COMMUNITY</button>
    </div>
  </div>
  <div class="user">
    <button [matMenuTriggerFor]="write" mat-button>WRITE
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <mat-menu #write="matMenu">
      <button (click)="redirect('/stories/new')" mat-menu-item>
        <mat-icon>add</mat-icon>
        Create a new story
      </button>
      <button (click)="redirect('stories/dashboard')" mat-menu-item>
        <mat-icon>folder_open</mat-icon>
        My stories
      </button>
    </mat-menu>
    <button [matMenuTriggerFor]="user" mat-button>USER</button>
    <mat-menu #user="matMenu">
      <button (click)="redirect('/users/'+ authenticatedUser)" mat-menu-item>
        <mat-icon>face</mat-icon>
        Account
      </button>
      <button (click)="logout()" mat-menu-item>
        <mat-icon>power_settings_new</mat-icon>
        Log out
      </button>
    </mat-menu>
  </div>
</nav>
